%hr.u-margin-top-0.u-margin-bottom-0
.row.topic-body
  .col
    - if topic.cover_image != nil
      - cover_image = topic.cover_image
      = image_tag "#{cover_image}", class: "hero-image u-margin-top-96", alt: topic.title
.row.topic-body.topic-main-body.u-margin-top-md
  %h2
    = topic.body_title 
  .col
    = kramdown(topic.body)
